@import '../../../../../kai-ui/src/theme/fonts.scss';
@import '../../../../../kai-ui/src/theme/theme.scss';
@import '../../../../../kai-ui/src/theme/layout.scss';

$kai-header-height: 30px;

.kai-header {
  @include flex(row);
  width: 100%;
  line-height: $kai-header-height;
  outline: none;

  h1 {
    width: 100%;
    height: 100%;
    font-weight: bold;
    @extend %text-ellipsis;
    @extend h1;
    text-align: center;
    padding: 0 1rem;
    margin: 0;
  }
}