@import '../../homePageA/HomePageATheme/theme.scss';

.gridContainerType{
    position: absolute;
    //top: 4.5rem;
	//bottom: 4.5rem;
	//right: 1rem;
	//left: 1rem;
	top: 45px;
	bottom: 45px;
	right: 10px;
	left: 10px;
	box-sizing: border-box;
    background: var(--color-home-a-light-grey);
}