@import '../../../../../kai-ui/src/theme/fonts.scss';
@import '../../../../../kai-ui/src/theme/theme.scss';
@import '../../../../../kai-ui/src/theme/layout.scss';
@import '../../../../../kai-ui/src/kai-font/style.scss';


.kai-il {

  
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  outline: none;
  width: 92.0833vw;    //221px
  height: 22.5vh;      //72px
  margin:5px auto;
  border-radius: 6px;
  padding:0px;
  

  &-icon {
     &-focused {
      width: 28.33vw;
      height: 22.5vh;
     }

    &-unfocused {
      width: 28.33vw;
      height: 22.5vh;
    }
    
    &-unfocused img{
      margin:0px;
    }
    &-focused img{
      margin:0px;
    }
  }

  &-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    
    span,
    label {
      padding: 0;
      width: 56.25vw;
      overflow: hidden;
    }
  }

  &-primary {
    &-unfocused{
    font-weight: bold;
    font-size: 6.25vw;
    height: 7.1875vh;
    margin-left: 2.9166vw;
    color: #000000;
    }
    &-focused{
      font-weight: bold;
      font-size: 6.25vw;
      height: 7.1875vh;
      margin-left: 2.9166vw;
      color: #ffffff;
    }
  }

  &-secondary {
    &-unfocused{
    font-size: 6.25vw;
    height: 7.1875vh;
    margin-left: 2.9166vw;
    color: #000000;
    }
    &-focused{
      font-size: 6.25vw;
      height: 7.1875vh;
      margin-left: 2.9166vw;
      color: #ffffff;
      }
  }
}
// images
img {
  width: 28.33vw;
  height: 22.5vh;
}

//Notification for list item 1 and 2

.notificationBox{
  &-focused{
  width: 8.33vw;
  height: 6.25vh;
  background-color: white;
  display: inline-flex;
  float: right;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  }
  &-unfocused{
    width: 8.33vw;
    height: 6.25vh;
    background-color:#0078D4;
    display: inline-flex;
    float: right;
    border-radius: 3px;
    align-items: center;
    justify-content: center;  
  }
  &-focused h1{
    font-weight: 500;
    font-size: 5.416vw;
    line-height: 5.625vh;
    color: #0078D4;
  }
  &-unfocused h1{
    font-weight: 500;
    font-size: 5.416vw;
    line-height: 5.625vh;
    color: #ffffff;
  }
}
//styling for overlapping images in list 1
.firstIcon{
  width:15.41vw;
  height:11.5625vh;
  border-radius:50%;
  position: relative;
  left:0.8em;
  top:0.7em;
  border:1px solid #ffffff;
}
.secondIcon{
  position: relative;
  left: 2.5em;
  bottom: 1.8em;
  width:15.41vw;
  height:11.5625vh;
  border-radius:50%;
  border:1px solid #ffffff;
  

}
//notification for list item 3
.notificationBox3{
  &-unfocused{
    height: 1.5625vh;
    width: 2.0833vw;
    border-radius: 60%;
    background-color:  #0078D4;
    display: inline-block;
    position: relative;
    bottom: 1em;
    left:0.1em;
    
  }
  &-focused{
    height: 1.5625vh;
    width: 2.0833vw;
    border-radius: 60%;
    background-color: white;
    display: inline-block;
    position: relative;
    bottom: 1em;
    left:0.1em;
    
  }
}
//list two image vector styling
.listTwoNotification1{
  height:2.8125vh;
  width:4.791vw;
  background-color:#0078D4;
  position: relative;
  top: 0em;
  left:0.3em;
}
.listTwoNotification2{
  width:1.25vw;
  height:0.9375vh; 
  position: relative;
  bottom: 0.64em;
  left:0em;
}
