


.kaiHeader {
  border-bottom: 1px solid #E4E4E4;
  height:30px;
  width: 240px;
  background-color:#F2F2F2;
  margin-bottom:1px

}
 .h1style{
  display: inline-block;
  margin:3px 85px 4px 86px ;
  font-weight: bold;
  font-size: 17px;
  height: 23px;
  width:69px;
  text-align: center;
  color: black;
}
