


.kaiHeader {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  border-bottom: 1px solid #E4E4E4;
  height:30px;

}
 .h1style{
  display: inline-flex;
  margin:3px 85px 4px 86px ;
  font-weight: bold;
  font-size: 17px;
  height: 23px;
  width:69px;
  text-align: center;
  color: black;
}
