@import '../../homePageA/HomePageATheme/theme.scss';

.top{
    position: absolute;
    width: 100%;
	height: 0rem;
	top: 30px;
    border: 1px solid var(--color-home-a-dark-grey);
}
.bottom{
	position: absolute;
	width: 100%;
	height: 0rem;
    bottom: 30px;
    border: 1px solid var(--color-home-a-dark-grey);
}