


.kai-header-OM {
  width: 100%;
  line-height: 2.8rem;
  border-bottom: 0.5px solid #E4E4E4;
  top: 0;
  position: fixed;
  height: 3rem;
  z-index:2;
  color:black;
  outline: none;

  h1 {
    width: 100%;
    height: 100%;
    color:black;
    font-weight:700;
    text-align: center;
    padding: 0 1rem;
    margin: 0;
  }
}
