@import '../homePageA/HomePageATheme/theme.scss';
.JioPhoneDimentions{
	//height: 320px;
	//width: 240px;
    margin: 0px;
	padding: 0px;
	height: 100vh;
	box-sizing: border-box;
	background: var(--color-home-a-light-grey);
}
*{
    box-sizing: border-box;
}