.typeIconOuter{
    position: relative;
}
.typeIconOuter > img {
    position: absolute;
    width: 1.249rem;
    height: 1.75rem;
    right:1.8rem;
    top:2rem;
  }
  
input::-webkit-input-placeholder {
    color: #7C7C7C;
}
input:focus::-webkit-input-placeholder {
    color: #0078D4;
}