.kai-listhor-view {
    position: absolute;
    //width: stretch;
    //height: stretch;
	height: 100%;
	width: 100%;
	overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: auto auto;
	box-sizing: border-box;
}
.toBeHidden{
    width: 100%;
    clear: both;
    visibility: hidden;
}