@import '../../../../../kai-ui/src/theme/fonts.scss';
@import '../../../../../kai-ui/src/theme/theme.scss';
@import '../../../../../kai-ui/src/theme/layout';
@import '../../../../../kai-ui/src/kai-font/style.scss';

:root {
  --il-text-focused: var(--color-gs00);
  --il-icon-unfocused: var(--color-zeta);
}
.kai-ilD{
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  outline: none;

  &-icon {
    &-focused {
      span::before {
        @include list-item-icon;
        color: var(--il-text-focused);
      }

      img {
        @include list-item-icon;
        color: var(--il-text-focused);
      }
    }

    &-unfocused {
      span::before {
        @include list-item-icon;
        color: var(--il-icon-unfocused);
      }

      img {
        @include list-item-icon;
        color: var(--il-icon-unfocused);
      }
    }
  }

  &-line {
    font-family: 'Open Sans';
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 40px;
    padding-left: 5px;
    span,
    label {
      padding: 0;
      width: 100%;
      overflow: hidden;
    }
  }

  &-primary {
    @extend .p-pri;
  }

  &-secondary {
    @extend .p-sec;
  }
}