


.kaiHeader{
  display: flex;
  border-bottom: 0.1rem solid #E4E4E4;
  height:9.375%;
  width: 100%;
  background-color:'F2F2F2';
  margin-bottom:0.1rem;
 // align-items: center;
 // justify-content: center;
}

.h1style{  
  margin: 0.9375vh 35.416vw 1.25vh 35.83vw;
  color:black;
  font-weight: bold;
  font-size: 7.083vw;    //17px
  line-height: 7.1875vh;  //23px
  text-align: center;
}
 
